.seachInput_container{
    width: 100%;
    display: flex;
    padding: .2em;
    height: 1.6em;
    background-color: white;
    border: 1px #DDDDDD solid;
    border-radius: 5px;
    margin-bottom: .6em;
}

.seachInput_container input {
    width: calc(100% - 120px );
    border: 0px white none;
    font-size: large;
}

.seachInput_container button {
    width: 120px;
    border-radius: 4px;
}
::placeholder{
    font-size: 1.3em;
}